@import 'tailwindcss';


:root {
  --bg-dark: #111111;
  --bg-light: #e7e7e7;
  --primary-accent: #FFBF00;
  --secondary-accent: #00FFFF;
  --text-light: #F0F0F0;
  --text-medium: #a0a0b0;
  --font-avalon: 'Avalon', sans-serif;
  --font-avalon-bold: 'AvalonBold', sans-serif;
}

.bg-dark {
  background-color: var(--bg-dark);
}

.bg-light {
  background-color: var(--bg-light);
}

.text-dark {
  color: var(--bg-dark);
}

.text-light {
  color: var(--text-light);
}

.text-medium {
  color: var(--text-medium);
}

.primary-accent {
  color: var(--primary-accent);
}

.secondary-accent {
  color: var(--secondary-accent);
}

@font-face {
  font-family: 'Avalon';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Avalon.ttf') format('truetype');
}

@font-face {
  font-family: 'Avalon';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/AvalonBold.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
	height: 100vh;
}

.animate-gradient {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 100% 100%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.avalon {
  font-family: var(--font-avalon), serif;
}

.avalon-bold {
  font-family: var(--font-avalon-bold), serif;
}

@keyframes pulse-slow {
  0% { transform: translate(-50%, -50%) scale(0.9); opacity: 0.8; }
  100% { transform: translate(-50%, -50%) scale(1.1); opacity: 1; }
}

.animate-pulse-slow {
  animation: pulse-slow 10s infinite alternate ease-in-out;
}
